:root {
	--bluee: #a3cddb;
	--blueee: #2d9cdb;
	--blueeeh: #247db1;
	--greens: #6fcf97;
	--greensh: #549e73;
}
a {
	text-decoration: none;
}

.bg-blueme {
	background-color: var(--bluee);
	border-radius: 0px 0px 100px 100px;
}

.btn-primary {
	background-color: var(--greens);
	border-color: var(--greens);
}
.btn-primary:hover {
	background-color: var(--greensh);
	border-color: var(--greensh);
}
.btn-secondary {
	background-color: var(--blueee);
	border-color: var(--blueee);
}
.btn-secondary:hover {
	background-color: var(--blueeeh);
	border-color: var(--blueeeh);
}
