.blue-background {
	background-color: #a3cddb;
	color: black;
}

.full-height {
	height: 100%;
}

input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: black;
}

input:focus {
	border-color: #a3cddb;
}
